<input #input type="text" class="form-control input-list" [(ngModel)]="query" (keyup)="filter($event)">
<button class="button-list" (click)="showAll(input)">
      <i class="fa fa-sort-desc" aria-hidden="true"></i>
    </button>

<ul id="list-group" class="list-group group-list" *ngIf="filteredList.length > 0">
    <li *ngFor="let item of filteredList" [class.active]="item.selected" [id]="item.selected" class="list-group-item item-list" (click)="select(item)">
        {{ item.Text }}
    </li>
</ul>

<p *ngIf="selectedItem">Selected: {{ selectedItem | json }}</p>