<div class="row">
    <div class="col-lg-12">
        <!--<h5 class="page-title">Stock Details</h5>-->
    </div>
</div>

<div class="panel panel-default top10">
    <div class="panel-heading">
        Loading Quota configuration for Cnf (Value in %)
    </div>
    <div class="panel-body ">
        <div class="row col-lg-12 top10" *ngIf="lblMessage != undefined">
            <div class=" alert-success">
                <strong class="col-sm-1">Warning : </strong>
                <label class="control-label-left col-sm-11 fontweight ">{{lblMessage}}</label>
            </div>
        </div>

        <div class="row ">
            <div class="col-lg-12">
                <div class="top10">
                    <div class="col-sm-2">
                        <label class="checkbox-inline">
                        <!--<input type="radio" class="form-check-input"  [value]="false" [(ngModel)]="ProdCatVal" name="IsTMT" [checked]="ProdCatVal===false" (click)="checkModifiedAndDisplayConfigList()" (change)="ProdCatVal=$event.target.value">-->
                        <input type="radio" name="IsTMT" [(ngModel)]="ProdCatVal" [value]="false" (click)="assignCatValue(false)">
						TMT</label>
                    </div>
                    <div class="col-sm-2">
                        <label class="checkbox-inline">
                        <!--<input type="radio" class="form-check-input" [value]="true"  [(ngModel)]="ProdCatVal" name="IsTMT" [checked]="ProdCatVal===true" (click)="checkModifiedAndDisplayConfigList()" (change)="ProdCatVal=$event.target.value">-->
                        <input type="radio" name="IsTMT" [(ngModel)]="ProdCatVal" [value]="true" (click)="assignCatValue(true)">
						Plain</label>

                    </div>
                </div>
                <div class="top10">
                    <div class="col-sm-5">
                        <select class="form-control col-sm-4" required name="LocationId" [(ngModel)]="ProdSpecId" (change)="checkModifiedAndDisplayConfigList()">
                                    <option value="0">Select Specification</option>
                                    <option *ngFor="let MaterialSpecsTo of specificationList " [value]="MaterialSpecsTo.Value">{{MaterialSpecsTo.Text}}</option>
                                    </select>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="isDisplayConfigList">
            <div class="row top10">
                <div class="col-lg-12 ">
                    <div class="table-responsive ">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr class="bg-info">
                                    <th style="padding: 3px">Cnf/Size</th>
                                    <th *ngFor="let materialSpce of MaterialSpce" style="padding: 3px">{{materialSpce}}</th>
                                    <!--<th style="padding: 3px">6 MM</th>
                            <th style="padding: 3px">8 MM</th>
                            <th style="padding: 3px">10 MM</th>
                            <th style="padding: 3px">12 MM</th>
                            <th style="padding: 3px">16 MM</th>
                            <th style="padding: 3px">20 MM</th>
                            <th style="padding: 3px">25 MM</th>
                            <th style="padding: 3px">28 MM</th>
                            <th style="padding: 3px">32 MM</th>-->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor=" let loaderConfigPerTo of MaterialCatVsCnfList ">
                                    <td style="padding: 3px">
                                        {{loaderConfigPerTo.cnfName}}
                                    </td>
                                    <td style="padding: 3px">
                                        <input name="SixMM" type="number" class="form-control" min="0" placeholder="{{loaderConfigPerTo.SixMM}}" [(ngModel)]="loaderConfigPerTo.SixMM" (keyup)="validateConfigPerc($event, loaderConfigPerTo)" (click)="selectOnClick($event)" (ngChange)="calculatePercentageTotal()">
                                    </td>
                                    <td style="padding: 3px">
                                        <input name="EightMM" type="number" class="form-control" min="0" placeholder="{{loaderConfigPerTo.EightMM}}" [(ngModel)]="loaderConfigPerTo.EightMM" (keyup)="validateConfigPerc($event, loaderConfigPerTo)" (click)="selectOnClick($event)" (ngChange)="calculatePercentageTotal()">
                                    </td>
                                    <td style="padding: 3px">
                                        <input name="TenMM" type="number" class="form-control" min="0" placeholder="{{loaderConfigPerTo.TenMM}}" [(ngModel)]="loaderConfigPerTo.TenMM" (keyup)="validateConfigPerc($event, loaderConfigPerTo)" (click)="selectOnClick($event)" (ngChange)="calculatePercentageTotal()">
                                    </td>
                                    <td style="padding: 3px">
                                        <input name="TweleveMM" type="number" class="form-control" min="0" placeholder="{{loaderConfigPerTo.TweleveMM}}" [(ngModel)]="loaderConfigPerTo.TweleveMM" (keyup)="validateConfigPerc($event,loaderConfigPerTo)" (click)="selectOnClick($event)" (ngChange)="calculatePercentageTotal()">
                                    </td>
                                    <td style="padding: 3px">
                                        <input name="OneSixMM" type="number" class="form-control" min="0" placeholder="{{loaderConfigPerTo.OneSixMM}}" [(ngModel)]="loaderConfigPerTo.OneSixMM" (keyup)="validateConfigPerc($event,loaderConfigPerTo)" (click)="selectOnClick($event)" (ngChange)="calculatePercentageTotal()">
                                    </td>
                                    <td style="padding: 3px">
                                        <input name="TwoZeroMM" type="number" class="form-control" min="0" placeholder="{{loaderConfigPerTo.TwoZeroMM}}" [(ngModel)]="loaderConfigPerTo.TwoZeroMM" (keyup)="validateConfigPerc($event,loaderConfigPerTo)" (click)="selectOnClick($event)" (ngChange)="calculatePercentageTotal()">
                                    </td>
                                    <td style="padding: 3px">
                                        <input name="TwoFiveMM" type="number" class="form-control" min="0" placeholder="{{loaderConfigPerTo.TwoFiveMM}}" [(ngModel)]="loaderConfigPerTo.TwoFiveMM" (keyup)="validateConfigPerc($event,loaderConfigPerTo)" (click)="selectOnClick($event)" (ngChange)="calculatePercentageTotal()">
                                    </td>
                                    <td style="padding: 3px">
                                        <input name="TwoEightMM" type="number" class="form-control" min="0" placeholder="{{loaderConfigPerTo.TwoEightMM}}" [(ngModel)]="loaderConfigPerTo.TwoEightMM" (keyup)="validateConfigPerc($event,loaderConfigPerTo)" (click)="selectOnClick($event)" (ngChange)="calculatePercentageTotal()">
                                    </td>
                                    <td style="padding: 3px">
                                        <input name="ThreeTwoMM" type="number" class="form-control" min="0" placeholder="{{loaderConfigPerTo.ThreeTwoMM}}" [(ngModel)]="loaderConfigPerTo.ThreeTwoMM" (keyup)="validateConfigPerc($event,loaderConfigPerTo)" (click)="selectOnClick($event)" (ngChange)="calculatePercentageTotal()">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 3px"><b>Total</b></td>
                                    <td style="padding: 3px">{{totalSixmm| number : '1.2-2'}}</td>
                                    <td style="padding: 3px">{{totalEightmm| number : '1.2-2'}}</td>
                                    <td style="padding: 3px">{{totalTenmm| number : '1.2-2'}}</td>
                                    <td style="padding: 3px">{{totalOneTwomm| number : '1.2-2'}}</td>
                                    <td style="padding: 3px">{{totalOneSixmm| number : '1.2-2'}}</td>
                                    <td style="padding: 3px">{{totalTwo0mm| number : '1.2-2'}}</td>
                                    <td style="padding: 3px">{{totalTwo5mm| number : '1.2-2'}}</td>
                                    <td style="padding: 3px">{{totalTwo8mm| number : '1.2-2'}}</td>
                                    <td style="padding: 3px">{{totalThreeTwomm| number : '1.2-2'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row top10">
                <div class="form-group ">
                    <div class=" form-group  col-sm-3 ">
                        <button type="button " class="btn btn-primary left " (click)="ValidateAndPostLoadingQuotaConfig()">Submit</button>

                    </div>
                </div>
            </div>
        </div>
        <app-error-message></app-error-message>
        <app-confirm></app-confirm>
    </div>
</div>