<div class="row">
    <div class="col-md-12">
        <h5 class="page-title">
            Directors Price & Quota Announcement
        </h5>
    </div>
</div>
<div class="row ">
    <div class="col-lg-12">

        <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab1default" data-toggle="tab" (click)="callPriceHistoryTab()"> <i class="fa fa-history" aria-hidden="true" style="top:0px; width:20px; height: 15px"></i>Price History
                        </a>
                    </li>
                    <li><a href="#tab2default" data-toggle="tab" (click)="callRateAnnouncementTab()"><i class="fa fa-inr " aria-hidden="true" style="top:0px; width:20px; height: 15px;"></i>Rate & Quota Declaration</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1default">
                        <div class="row ">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <div class="input-group date ">
                                            <input class="form-control" [(ngModel)]="fromDate" style="background-color: white; height: 36px;" type="text" id="dtFromDt" name="dtFromDt" ng2-datetime-picker date-format="DD-MM-YYYY " date-only="true" close-on-select="true">
                                            <label class="input-group-addon btn" for="dtFromDt" style="padding: 1px 0px;font-size: 19px; height: 36px;">
                                            <span class="fa fa-calendar" style="padding-top: 7px;"></span>
                                        </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-sm-4">
                                        <div class="input-group date  ">
                                            <input class="form-control" [(ngModel)]="toDate" style="background-color: white; height: 36px;" type="text" id="dtToDt" name="dtToDt" ng2-datetime-picker date-format="DD-MM-YYYY" date-only="true" readonly close-on-select="true" (ngModelChange)="getCompanyQuotaList(fromDate,toDate)">
                                            <label class="input-group-addon btn" for="dtToDt" style="padding: 1px 0px;font-size: 19px; height: 36px;">
                                            <span class="fa fa-calendar" style="padding-top: 7px;"></span>
                                        </label>
                                        </div>
                                    </div>
                                </div>

                                <!--<div class="form-group">
                                        <div class="col-sm-4">
                                        <label class="control-label-left col-sm-3" for="Area">Select Area:</label>
                                        <div class="col-sm-9">
                                            <select name="ddLArea" class="form-control" for="Reason For" [(ngModel)]="rateReason" >
                                                            <option value="0 " selected >Select Area</option>
                                                        <option *ngFor="let rateReason of rateReasonList "  [ngValue]="rateReason">{{rateReason.Text}}</option>
                                                        </select>
                                        </div>
                                </div>
                                </div>-->
                            </div>

                        </div>

                        <div class="row top10">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <thead class="bg-info">
                                            <tr>
                                                <th>Last Update Date</th>
                                                <th>Price</th>
                                                <th>Quantity</th>
                                                <th>Average Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let companyQuota of companyQuotaList">
                                                <td>{{companyQuota.CreatedOnStr }}</td>
                                                <td>{{companyQuota.Rate | currency : 'INR': true:'1.0-0' }}</td>
                                                <td>{{companyQuota.Quantity}}</td>
                                                <td>{{companyQuota.AvgPrice | currency :'INR':true:'1.0-0' }}</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead class="bg-info">
                                            <tr>
                                                <th>Date</th>
                                                <th>Competitor Name</th>
                                                <th>Current Rate</th>
                                                <th>Last Rate</th>
                                                <th>Informer</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let compatitorQuota of competitorQuotaList">
                                                <td>{{compatitorQuota.CompetitorUpdatesTO.UpdateDatetime | date: 'dd-MM-yyyy hh:mm'}}</td>
                                                <td>{{compatitorQuota.FirmName}}</td>
                                                <td>{{compatitorQuota.CompetitorUpdatesTO.Price | currency:'INR':true:'1.0-0'}}</td>
                                                <td>{{compatitorQuota.CompetitorUpdatesTO.LastPrice| currency:'INR':true:'1.0-0' }}</td>
                                                <td>{{compatitorQuota.CompetitorUpdatesTO.InformerName}}</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="button" class=" btn btn-primary" (click)="backMarketTrend()" style="padding: 5px 7px; font-size: 12px;">More...</button>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="tab2default">
                        <form (ngSubmit)="showConfirmDialog();" #announceRateForm="ngForm">
                            <div class="row ">
                                <div class="col-lg-12">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="control-label-left col-sm-2" for="CurrentRate">Current Rate (Rs/MT):</label>
                                            <div class="col-sm-2">
                                                <input class="form-control " type="number" name="txtChangeRate" required [(ngModel)]="declaredRate" (click)="selectOnClick($event)" placeholder="Change Rate" #name="ngModel">
                                            </div>
                                            <label class="control-label-left col-sm-1" for="CurrentRate">Reason:</label>
                                            <div class="col-sm-3">
                                                <select name="ddlReasonFor" required class="form-control" for="Reason For" [(ngModel)]="rateReason" (change)="onddlRateChage()" #name="ngModel">
                                                <option [ngValue]="rateReason" selected>Select Reason</option>
                                                <option *ngFor="let rateReason of  rateReasonList"  [ngValue]="rateReason">{{rateReason.Text}}</option>
                                            </select>
                                            </div>
                                            <div class="col-sm-4 " *ngIf="isOther">
                                                <textarea class="form-control resizeclass" name="comments" placeholder="Enter Comment" [(ngModel)]="comments" required></textarea>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <!--<div class="form-horizontal">-->
                                    <div class="form-group ">
                                        <label class="control-label-left col-sm-1">Note:</label>
                                        <div class="col-sm-6">
                                            <p class="alert alert-success nopadding" style="font-size:12px; font-weight: bold">Balance Quota Valid Up To Selected Minutes.</p>
                                        </div>
                                    </div>
                                    <!--<div class="form-group">
                                           <label class="control-label-left col-sm-1">District:</label>
                                            <div class="col-sm-3">
                                            <select name="ddlDistrict" class="form-control " for="Reason For" [(ngModel)]="rateReason"  (change)="onddlRateChage()" required>
                                            <option value="0 " selected >Select District</option>
                                            <option *ngFor="let rateReason of rateReasonList "  [ngValue]="rateReason">{{rateReason.Text}}</option>
                                            </select>
                                         </div>
                                    </div>-->

                                    <!--</div>-->
                                </div>
                            </div>

                            <div class="row top10">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr class="bg-info">
                                                    <th>C & F Agent</th>
                                                    <th>Balance Quota</th>
                                                    <th>Valid For(Min.)</th>
                                                    <th>Current Quota</th>
                                                    <th>Rate Band</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let CFQuota of CfQuotaList">
                                                    <td class="col-sm-4" style="padding-top: 18px;">
                                                        {{CFQuota.FirmName}}
                                                    </td>
                                                    <td class="col-sm-2" style="padding-top: 18px;">
                                                        {{CFQuota.BalanceQuota}}
                                                    </td>
                                                    <td class="col-sm-2" ng-if="CFQuota.BalanceQuota==0">
                                                        <p *ngIf="CFQuota.BalanceQuota==0" class="nopadding">
                                                            <select name="ddlValidFor" class="form-control" for="Valid For" [(ngModel)]="CFQuota.ValidUpto">
                                                            <option value="0" selected="selected">0</option>
                                                        </select>
                                                        </p>
                                                        <p *ngIf="CFQuota.BalanceQuota!= 0" class="nopadding">
                                                            <select name="ddlValidFor" class="form-control" for="Valid For" [(ngModel)]="CFQuota.ValidUpto">
                                                            <!--<option value="0 " selected >Select Dealer</option>-->
                                                        <option *ngFor="let validity of validDurationLst " >{{validity.Text}}</option>
                                                        </select>
                                                        </p>
                                                    </td>
                                                    <td class="col-sm-2">
                                                        <input class="form-control" [(ngModel)]="CFQuota.LastAllocQty" name="{{CFQuota.LastAllocQty}}" required (click)="selectOnClick($event)" required (keyup)="calculateTotal(CfQuotaList )" type="number" #name="ngModel" [ngModelOptions]="{standalone: true}">
                                                    </td>

                                                    <td class="col-sm-2">
                                                        <input class="form-control" [(ngModel)]="CFQuota.LastRateBand" name="{{CFQuota.LastRateBand}}" (click)="selectOnClick($event)" required max="500" (keyup)="checkNumber($event)" type="number" [ngModelOptions]="{standalone: true}">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3">
                                                    </td>
                                                    <td style="font-weight: bold;font-size:15px">{{totalAllocatedQty}}
                                                        <td>
                                                            <tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <button type="button " class="btn btn-primary" (click)="submitted=false">Cancel</button>
                                    <button type="submit" class="btn btn-primary" [disabled]="!announceRateForm.valid">Announce Rate</button>
                                    <!--<button type="submit" (click)="submitted=true;showConfirmDialog();"  class="btn btn-primary">Announce Rate</button>-->
                                </div>
                            </div>

                        </form>

                    </div>

                </div>
            </div>
        </div>
        <app-error-message></app-error-message>
        <app-confirm></app-confirm>

        <!-- /.col-lg-12 -->
    </div>

</div>