<div class="row top10">
    <div class="col-lg-12">
        <h5 class="page-title"></h5>
    </div>
</div>

<div class="panel-body">
    <div class="col-lg-12">
        <div class="panel panel-default" style="width:60%; margin:auto">
            <div class="panel-heading" style="color:#006eba; background-color: #f5f5f5">
                <h4>Login</h4>

            </div>
            <div class="top10">


                <div class="" style="width:60%; margin:auto">
                    <div class="" style="width:50%; margin:auto">
                        <div class="icon-wrapper"><i class="">
                    <img alt="polaad_logo" style="height: 100%; width: 100%" src="images/polaad_backround.jpg" class="navbar-brand top">
                    <label style="
                        align-content: center;
                        align-self: center;
                        font-size: 11px;
                        padding-left: 08px;
                        color: #006eba;
                    ">SalesTracker 0.1</label>
                    <span class="fix-editor">&nbsp;</span></i></div>

                    </div>

                </div>

                <div class="top10">
                    <div class="top10"></div>
                    <div class="top10" style="width:60%; margin:auto">

                        <form name="form" (ngSubmit)="login()" #f="ngForm">
                            <div class="form-group">
                                <!--<label for="UserLogin">User ID</label>-->
                                <input type="text" class="form-control " name="UserLogin" [(ngModel)]="userTo.UserLogin" required placeholder="User Id" />
                                <!--<div class="help-block">UserLogin is required</div>-->
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="UserPasswd" [(ngModel)]="userTo.UserPasswd" required placeholder="Password" />
                                <!--<div class="help-block">Password is required</div>-->
                            </div>
                            <div class="form-group alert alert-danger" *ngIf="isError">
                                <label for="errorMsg">{{errorMessage}}</label>
                            </div>
                            <div class="form-group">
                                <button [disabled]="loading" class="btn btn-primary" type="submit">Login</button>

                                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                                />
                                <a [routerLink]="['/register']" class="btn btn-link">Register</a>
                            </div>
                            <div class="top10"></div>
                            <div class="top10"></div>

                        </form>
                    </div>
                </div>
                <div class="top10"></div>
                <div class="top10"></div>
            </div>



        </div>
    </div>