<div class="row">
    <div class="col-lg-12">
        <h5 class="page-title">Loading Menus</h5>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="page-title">
                    Click Icons to Navigate To Options
                </h5>

            </div>
            <div class="panel-body">
                <div class="row form inline col-sm-12">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-hover" style="border-collapse: inherit;padding-left: 18px;">
                                <tr class="bg-info">
                                    <td style="text-align: center" *ngIf="!isShowForCnF ">
                                        <a routerLink="/LoadingQuota" routerLinkActive="active">
                                            <div class="icon-wrapper"><i class="fa fa-bullhorn custom-icon"><span class="fix-editor">&nbsp;</span>  </i></div>
                                            <p>Loading Quota Declaration
                                            </p>
                                        </a>
                                    </td>
                                    <td style="text-align: center">
                                        <a routerLink="/ViewLoadingQuota" routerLinkActive="active">
                                            <div class="icon-wrapper"><i class="fa fa-search custom-icon"><span class="fix-editor">&nbsp;</span>  </i></div>
                                            <p>View Loading Quota
                                            </p>
                                        </a>
                                    </td>
                                    <td style="text-align: center">
                                        <a routerLink="/NewLoadingSlips" routerLinkActive="active">
                                            <div class="icon-wrapper">
                                                <i class="fa fa-truck custom-icon test" data-toggle="tooltip" data-placement="top" title="Add New Booking"><span class="fix-editor">&nbsp;</span></i>
                                            </div>
                                            <p> New Loading Slip
                                            </p>
                                        </a>
                                    </td>
                                    <td style="text-align: center">
                                        <a routerLink="/ViewLoadingSlip" routerLinkActive="active">
                                            <div class="icon-wrapper"><i class="fa fa-tasks custom-icon" data-toggle="tooltip" data-placement="top" title="View All Bookings"><span class="fix-editor">&nbsp;</span></i></div>
                                            <p>View Loading Slips
                                            </p>
                                        </a>
                                    </td>
                                    <td style="text-align: center">
                                        <a routerLink="/LoadingSlipApproval" routerLinkActive="active">
                                            <div class="icon-wrapper"><i class="fa fa-check-circle-o custom-icon" data-toggle="tooltip" data-placement="top" title="C&F Agent Master"><span class="fix-editor">&nbsp;</span></i></div>
                                            <p>Loading Slip Approval
                                            </p>
                                        </a>
                                    </td>
                                </tr>
                                <tr class="bg-info">
                                    <td style="text-align: center" *ngIf="!isShowForCnF">
                                        <a routerLink="/GetIn" routerLinkActive="active">
                                            <div class="icon-wrapper">
                                                <i class="fa fa-exchange custom-icon"><span class="fix-editor">&nbsp;</span>  </i></div>
                                            <p>Gate In/Out
                                            </p>
                                        </a>
                                    </td>
                                    <td style="text-align: center">
                                        <div class="icon-wrapper"><i class="fa fa-bar-chart custom-icon"><span class="fix-editor">&nbsp;</span></i></div>
                                        <p>Reports
                                        </p>
                                    </td>

                                </tr>
                            </table>
                        </div>

                    </div>

                </div>
            </div>