<div class="row">
    <div class="col-lg-12">
        <!--<h5 class="page-title">Stock Details</h5>-->
    </div>
</div>

<div class="panel panel-default top10">
    <div class="panel-heading">
        Cnf Wise Loading Quota Declaration (Values in MT)
    </div>
    <div class="panel-body ">

        <div class="row " *ngIf="lblConfirmationMsg != undefined && !isQuotaConfirmed">
            <div class="col-md-12 top10">
                <div class="alert alert-danger" role="alert">
                    <div class="error-template">
                        <h1>
                            Oops! <i class="fa fa-frown-o" aria-hidden="true" style="height: 42px"></i> </h1>
                        <h2>
                            {{lblConfirmationMsg}}</h2>
                        <div class="error-details">
                            Will notify you once it will confirmed!
                        </div>
                        <!--<div class="error-actions">
                    <a href="http://www.jquery2dotnet.com" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Take Me Home </a><a href="http://www.jquery2dotnet.com" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
                </div>-->
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="isQuotaConfirmed">
            <div class="row col-lg-12 top10" *ngIf="lblMessage != undefined">
                <div class=" alert-success">
                    <strong class="col-sm-1">Warning : </strong>
                    <label class="control-label-left col-sm-11 fontweight ">{{lblMessage}}</label>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="top10">

                        <div class="col-sm-2">
                            <label class="checkbox-inline">
                        <input type="radio" class="form-check-input  " name="optionsRadios"  [value]="false" [(ngModel)]="ProdCatTmtVal"  [checked]="ProdCatTmtVal===false" (click)="assignRedioButtonVal(1)">
						TMT</label>
                        </div>
                        <div class="col-sm-2">
                            <label class="checkbox-inline">
						<input type="radio" class="form-check-input" name="optionsRadios"  [value]="true"  [(ngModel)]="ProdCatTmtVal" [checked]="ProdCatTmtVal===true" (click)="assignRedioButtonVal(2)">
						Plain</label>

                        </div>
                    </div>
                    <div class="top10">
                        <div class="col-sm-5">
                            <select class="form-control col-sm-4" required name="LocationId" [(ngModel)]="ProdSpecId" (change)="checkModifiedAndDisplayConfigList()">
                                    <option value="0">Select Specification</option>
                                    <option *ngFor="let MaterialSpecsTo of specificationList " [value]="MaterialSpecsTo.Value">{{MaterialSpecsTo.Text}}</option>
                                    </select>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="isDisplayLoadingQuotaList">
                <div class="row top10">
                    <div class="col-lg-12 ">
                        <div class="table-responsive ">
                            <table class="table table-bordered table-hover" style="width: 150%; max-width: 200%">
                                <thead>
                                    <tr style="background-color:#bfc0c1 ">
                                        <th class="bg-info" style="padding: 3px">Available</th>
                                        <th style="padding: 3px">{{totalAvialableSixmm | number : '1.2-2'}}</th>
                                        <th style="padding: 3px">{{totalAvialableEightmm | number : '1.2-2'}}</th>
                                        <th style="padding: 3px">{{totalAvialableTenmm | number : '1.2-2'}}</th>
                                        <th style="padding: 3px">{{totalAvialableOneTwomm | number : '1.2-2'}}</th>
                                        <th style="padding: 3px">{{totalAvialableOneSixmm | number : '1.2-2'}}</th>
                                        <th style="padding: 3px">{{totalAvialableTwo0mm | number : '1.2-2'}}</th>
                                        <th style="padding: 3px">{{totalAvialableTwo5mm | number : '1.2-2'}}</th>
                                        <th style="padding: 3px">{{totalAvialableTwo8mm | number : '1.2-2'}}</th>
                                        <th style="padding: 3px">{{totalAvialableThreeTwomm | number : '1.2-2'}}</th>

                                    </tr>
                                    <tr class="bg-info">
                                        <th style="padding: 3px">Cnf / Sizes</th>
                                        <th *ngFor="let materialSpce of MaterialSpce" style="padding: 3px">{{materialSpce}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor=" let loaderConfigPerTo of MaterialCatVsCnfList ">
                                        <td style="padding: 3px">
                                            {{loaderConfigPerTo.cnfName}}
                                        </td>
                                        <td style="padding: 3px; width: auto">

                                            <input name="SixMM" type="number" min="0" class="form-control" placeholder="{{loaderConfigPerTo.SixMM}}" [(ngModel)]="loaderConfigPerTo.SixMM" (keyup)="validateConfigPerc($event, '6|MM', loaderConfigPerTo)" (click)="selectOnClick($event)" (ngChange)="calculatePercentageTotal()">
                                        </td>
                                        <td style="padding: 3px ; width: auto">
                                            <input name="EightMM" type="number" min="0" class="form-control" placeholder="{{loaderConfigPerTo.EightMM}}" [(ngModel)]="loaderConfigPerTo.EightMM" (keyup)="validateConfigPerc($event, '8|MM', loaderConfigPerTo)" (click)="selectOnClick($event)" (ngChange)="calculatePercentageTotal()">
                                        </td>
                                        <td style="padding: 3px; width: auto">
                                            <input name="TenMM" type="number" min="0" class="form-control" placeholder="{{loaderConfigPerTo.TenMM}}" [(ngModel)]="loaderConfigPerTo.TenMM" (keyup)="validateConfigPerc($event, '10|MM', loaderConfigPerTo)" (click)="selectOnClick($event)" (ngChange)="calculatePercentageTotal()">
                                        </td>
                                        <td style="padding: 3px; width: auto">
                                            <input name="TweleveMM" type="number" min="0" class="form-control" placeholder="{{loaderConfigPerTo.TweleveMM}}" [(ngModel)]="loaderConfigPerTo.TweleveMM" (keyup)="validateConfigPerc($event,'12|MM', loaderConfigPerTo)" (click)="selectOnClick($event)"
                                                (ngChange)="calculatePercentageTotal()">
                                        </td>
                                        <td style="padding: 3px; width: auto">
                                            <input name="OneSixMM" type="number" min="0" class="form-control" placeholder="{{loaderConfigPerTo.OneSixMM}}" [(ngModel)]="loaderConfigPerTo.OneSixMM" (keyup)="validateConfigPerc($event,'16|MM', loaderConfigPerTo)" (click)="selectOnClick($event)" (ngChange)="calculatePercentageTotal()">
                                        </td>
                                        <td style="padding: 3px; width: auto">
                                            <input name="TwoZeroMM" type="number" min="0" class="form-control" placeholder="{{loaderConfigPerTo.TwoZeroMM}}" [(ngModel)]="loaderConfigPerTo.TwoZeroMM" (keyup)="validateConfigPerc($event,'20|MM', loaderConfigPerTo)" (click)="selectOnClick($event)"
                                                (ngChange)="calculatePercentageTotal()">
                                        </td>
                                        <td style="padding: 3px; width: auto">
                                            <input name="TwoFiveMM" type="number" min="0" class="form-control" placeholder="{{loaderConfigPerTo.TwoFiveMM}}" [(ngModel)]="loaderConfigPerTo.TwoFiveMM" (keyup)="validateConfigPerc($event,'25|MM', loaderConfigPerTo)" (click)="selectOnClick($event)"
                                                (ngChange)="calculatePercentageTotal()">
                                        </td>
                                        <td style="padding: 3px; width: auto">
                                            <input name="TwoEightMM" type="number" min="0" class="form-control" placeholder="{{loaderConfigPerTo.TwoEightMM}}" [(ngModel)]="loaderConfigPerTo.TwoEightMM" (keyup)="validateConfigPerc($event,'28|MM', loaderConfigPerTo)" (click)="selectOnClick($event)"
                                                (ngChange)="calculatePercentageTotal()">
                                        </td>
                                        <td style="padding: 3px; width: auto">
                                            <input name="ThreeTwoMM" type="number" min="0" class="form-control" placeholder="{{loaderConfigPerTo.ThreeTwoMM}}" [(ngModel)]="loaderConfigPerTo.ThreeTwoMM" (keyup)="validateConfigPerc($event,'32|MM', loaderConfigPerTo)" (click)="selectOnClick($event)"
                                                (ngChange)="calculatePercentageTotal()">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="bg-info" style="padding: 3px; "><b>Total</b></th>
                                        <th style="padding: 3px">{{totalSixmm | number : '1.2-2'}}</th>
                                        <th style="padding: 3px">{{totalEightmm| number : '1.2-2'}}</th>
                                        <th style="padding: 3px">{{totalTenmm| number : '1.2-2'}}</th>
                                        <th style="padding: 3px">{{totalOneTwomm| number : '1.2-2'}}</th>
                                        <th style="padding: 3px">{{totalOneSixmm| number : '1.2-2'}}</th>
                                        <th style="padding: 3px">{{totalTwo0mm| number : '1.2-2'}}</th>
                                        <th style="padding: 3px">{{totalTwo5mm| number : '1.2-2'}}</th>
                                        <th style="padding: 3px">{{totalTwo8mm| number : '1.2-2'}}</th>
                                        <th style="padding: 3px">{{totalThreeTwomm| number : '1.2-2'}}</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group ">
                        <div class=" form-group  col-sm-3 ">
                            <button type="button " [disabled]="isQuotaDeclared" class="btn btn-primary left " (click)="postLoadingQuotaDeclaration()">Submit</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-error-message></app-error-message>
    <app-confirm></app-confirm>
</div>