<div class="row" *ngIf="isLoading">
    <div class="col-lg-12">
        <h5 class="page-title">{{headMessage}}</h5>
    </div>
</div>


<!--<div class="row top10" *ngIf="isDelivery">
    <div class="col-lg-12">
        <div class="table-responsive ">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="bg-info">
                        <th>Slip No#</th>
                        <th>C&F</th>
                        <th>Vehicle No.</th>
                        <th>Quantity</th>
                        <th>Status</th>
                        <th>Confirm Date</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let loadingToInfo of deliverySlipList ">
                        <td>{{loadingToInfo.LoadingSlipNo}}</td>
                        <td>{{loadingToInfo.CnfOrgName}}</td>
                        <td>{{loadingToInfo.VehicleNo}}</td>
                        <td>{{loadingToInfo.Qty}}</td>
                        <!--<td>{{loadingSlipInfo.​TotalLoadingQty​}}</td>-->
                        <!--<td>{{loadingToInfo.StatusDesc}}</td>
                        <td>{{loadingToInfo.LoadingDatetimeStr}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>-->

<div class="row top10" *ngIf="isDelivery">
    <div class="col-lg-12">
        <h5 class="page-title">Waiting for Confirmation</h5>
    </div>
</div>

  <div class="row top10" *ngIf="isLoading">
    <div class="form-group col-xs-6 col-sm-6 " *ngIf="isShowCnFLst">
       <select class="form-control" [(ngModel)]="cnfOrgId" (change)="onddlCnFChage($event.target.value)">
            <option [value]="0" selected>Select  C&F</option>
            <option *ngFor="let CnFInfo of cnfList" [value]="CnFInfo.Value" >{{CnFInfo.Text}}</option>
        </select>
    </div>
    <div class="form-group col-xs-6 col-sm-6">
        <select class="form-control" (change)="onddlstatusChage($event.target.value)" [(ngModel)]="statusId">
            <option  value="0">Select Status</option>
            <option  *ngFor="let TxnType of txnTypeList"   [value]="TxnType.Value" >{{TxnType.Text}}</option>
        </select>
    </div>
</div>
<div class="row" *ngIf="isLoading">
    <div class="form-group col-xs-6 col-sm-6">
        <div class="input-group date  col-sm-12">
            <input class="form-control" [(ngModel)]="fromDate" style="background-color: white; height: 36px;" type="text" id="dtFromDt" name="dtFromDt" ng2-datetime-picker date-format="DD-MM-YYYY " readonly close-on-select="true"
            (ngModelChange)="onDateSelection(fromDate,toDate)" [show-close-layer]="true" year="2014" month="12" day="31" hour="23" minute='59'>
            <label class="input-group-addon btn" for="dtFromDt" style="padding: 1px 0px;font-size: 19px; height: 36px;">
                <span class="fa fa-calendar" style="padding-top: 7px; "></span>
            </label>
        </div>
    </div>
    <div class="form-group col-xs-6 col-sm-6">
        <div class="input-group date  col-sm-12">
            <input class="form-control" [(ngModel)]="toDate" style="background-color: white; height: 36px;" type="text" id="dtToDt" name="dtToDt" ng2-datetime-picker date-format="DD-MM-YYYY" readonly close-on-select="true"
            (ngModelChange)="onDateSelection(fromDate,toDate)" [show-close-layer]="true" year="2014" month="12" day="31" hour="23" minute='59'>
            <label class="input-group-addon btn" for="dtToDt" style="padding: 1px 0px;font-size: 19px; height: 36px;">
                <span class="fa fa-calendar" style="padding-top: 7px;"></span>
            </label>
        </div>
    </div>
</div>
<div class="row top10">
    <div class="col-lg-12">
        <div class="table-responsive ">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="bg-info">
                        <th>Slip No#</th>
                        <th>C&F</th>
                        <th>Vehicle No.</th>
                        <th>Quantity</th>
                        <th>Status</th>
                        <th>Status Reason</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let loadingToInfo of loadingSlipList ">
                        <td>{{loadingToInfo.LoadingSlipNo}}</td>
                        <td>{{loadingToInfo.CnfOrgName}}</td>
                        <td>{{loadingToInfo.VehicleNo}}</td>
                        <td>{{loadingToInfo.Qty}}</td>
                        <!--<td>{{loadingSlipInfo.​TotalLoadingQty​}}</td>-->
                        <td>{{loadingToInfo.StatusDesc}}</td>
                        <td>{{loadingToInfo.StatusReason}}</td>
                        <td><input class="btn-primary" type="button" value="View Details" (click)="ViewLoadingSlipDetails(loadingToInfo)"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>