<div class="row">
    <div class="col-lg-12">
        <h5 class="page-title">Market Trend</h5>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row top10">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Market Trend
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel with-nav-tabs panel-default">
                            <div class="panel-heading">
                                <ul class="nav nav-tabs">
                                    <li class="{{marketTrendClass}}"><a href="#tab1default" data-toggle="tab" click="marketTrendUpdateCall()"><i class="fa fa-plus  " aria-hidden="true" style="top:0px; width:20px; height: 15px;" ></i>Add New</a></li>
                                    <li class="active" *ngIf="isDisplayView"><a href="#tab2default" data-toggle="tab" click="viewMarketTrendCall()"><i class="fa fa-table " aria-hidden="true" style="top:0px; width:20px; height: 15px;" ></i>View Market Trend</a></li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade in {{marketTrendClass}}" id="tab1default">
                                        <form #MarketTrendForm="ngForm">
                                            <div class="row top10">
                                                <div class="col-lg-12">
                                                    <div class="form-group col-sm-4">
                                                        <select name="ddlMaterial" class="form-control" [(ngModel)]="competitorTO" required>
                                                        <option value="0" selected>Select Competitor</option>
                                                        <option *ngFor="let competitorTO of competitorQuotaList" [ngValue]="competitorTO" >{{competitorTO.Text}}</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-sm-3">
                                                        <input type="number" name="Price" class="form-control" placeholder="Enter Price" [(ngModel)]="marketTrendTO.Price" autocomplete="off" required>
                                                    </div>
                                                    <div class="form-group col-sm-3">
                                                        <select name="ddlMaterial" class="form-control" [(ngModel)]="dealerTO" required>
                                                     <option value="0" selected>Select Dealer</option>
                                                        <option *ngFor="let dealerTO of dealerList" [ngValue]="dealerTO" >{{dealerTO.Text}}</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group ">
                                                        <button type="submit " class="btn btn-primary" (click)="addMarketTrend(marketTrendTO,competitorTO,dealerTO)">Add</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="row top10">
                                            <div class="col-lg-12">
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered table-hover">
                                                        <thead class="bg-info">
                                                            <tr>
                                                                <th>
                                                                    Brand
                                                                </th>
                                                                <th>
                                                                    Price
                                                                </th>
                                                                <th>
                                                                    Dealer Name
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let marketTrendTO of marketTrendList">
                                                                <td>

                                                                    {{marketTrendTO.FirmName}}
                                                                </td>
                                                                <td>
                                                                    {{marketTrendTO.Price | currency : 'INR': true:'1.0-0' }}
                                                                </td>
                                                                <td>
                                                                    {{marketTrendTO.DealerName}}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 top10" *ngIf="!isByDirector">
                                            <div style="align-items: center">
                                                <button type="button " class="btn btn-primary">Cancel</button>
                                                <button type="submit " class="btn btn-primary" (click)="showConfirmDialog()">Submit</button>
                                            </div>
                                        </div>
                                        <app-error-message></app-error-message>
                                        <app-confirm></app-confirm>
                                    </div>
                                    <!--View Market Update -->
                                    <div class="tab-pane fade in active" id="tab2default" *ngIf="isDisplayView">
                                        <div class="row ">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <div class="col-sm-4">
                                                        <div class="input-group date ">
                                                            <input class="form-control" [(ngModel)]="fromDate" style="background-color: white; height: 36px;" type="text" id="dtFromDt" name="dtFromDt" ng2-datetime-picker date-format="YYYY-MM-DD " date-only="true" close-on-select="true">
                                                            <label class="input-group-addon btn" for="dtFromDt" style="padding: 1px 0px;font-size: 19px; height: 36px;">
                                                                <span class="fa fa-calendar" style="padding-top: 7px;"></span>
                                                             </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group ">
                                                    <div class="col-sm-4">
                                                        <div class="input-group date  ">
                                                            <input class="form-control" [(ngModel)]="toDate" style="background-color: white; height: 36px;" type="text" id="dtToDt" name="dtToDt" ng2-datetime-picker date-format="YYYY-MM-DD" date-only="true" readonly close-on-select="true" (ngModelChange)="getMarketUpdate(fromDate,toDate)">
                                                            <label class="input-group-addon btn" for="dtToDt" style="padding: 1px 0px;font-size: 19px; height: 36px;">
                                                                 <span class="fa fa-calendar" style="padding-top: 7px;"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!--<div class="form-group">
                                        <div class="col-sm-4">
                                        <label class="control-label-left col-sm-3" for="Area">Select Area:</label>
                                        <div class="col-sm-9">
                                            <select name="ddLArea" class="form-control" for="Reason For" [(ngModel)]="rateReason" >
                                                            <option value="0 " selected >Select Area</option>
                                                        <option *ngFor="let rateReason of rateReasonList "  [ngValue]="rateReason">{{rateReason.Text}}</option>
                                                        </select>
                                        </div>
                                </div>
                                </div>-->
                                            </div>

                                        </div>
                                        <div class="row top10">
                                            <div class="col-lg-12">
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered table-hover">
                                                        <thead class="bg-info">
                                                            <tr>
                                                                <th>
                                                                    Brand
                                                                </th>
                                                                <th>
                                                                    Price
                                                                </th>
                                                                <th>
                                                                    Dealer Name
                                                                </th>
                                                                <th>
                                                                    Entered By
                                                                </th>
                                                                <th>
                                                                    Time
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let marketTrendTO of competitorUpdatesTOList">
                                                                <td>

                                                                    {{marketTrendTO.FirmName}}
                                                                </td>
                                                                <td>
                                                                    {{marketTrendTO.Price | currency : 'INR': true:'1.0-0' }}
                                                                </td>
                                                                <td>
                                                                    {{marketTrendTO.DealerName}}
                                                                </td>
                                                                <td>

                                                                    {{marketTrendTO.CreatedByName}}
                                                                </td>
                                                                <td>

                                                                    {{marketTrendTO.UpdateDatetimeStr}}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <button type="button" class=" btn btn-primary" (click)="backquota()" style="padding: 3px 4px; font-size: 12px;"><i aria-hidden="true" class="fa fa-arrow-left " style="top:0px; width:20px; height: 15px;"></i>Back</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>