<div *ngIf="!isView">
    <div class="row">
        <div class="col-lg-12">

            <h5 class="page-title" *ngIf="!isVisible">
                View Booking
            </h5>
            <h5 class="page-title" *ngIf="isDirector">
                Booking Confirmation Beyond Quota And Rate Band
            </h5>
            <h5 class="page-title" *ngIf="isCF">
                Booking Acceptance Beyond Quota And Rate Band
            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading" *ngIf="!isVisible">
                    View Booking </div>
                <div class="panel-heading" *ngIf="isDirector">
                    Pending List For Approval </div>
                <div class="panel-heading" *ngIf="isCF">
                    Pending List For Acceptance </div>
                <div class="panel-body" *ngIf="!isVisible">
                    <div class="row  ">
                        <div class="form-group col-xs-6 col-sm-6 " *ngIf="isShowCnFLst">
                            <select class="form-control" [(ngModel)]="cnfOrgId" (change)="onddlCnFChage($event.target.value)">
                             <option [value]="0" selected>Select  C&F</option>
                             <option *ngFor="let CnFInfo of cnfList" [value]="CnFInfo.Value" >{{CnFInfo.Text}}</option>
                        </select>
                        </div>
                        <div class="form-group col-xs-6 col-sm-6">
                            <select class="form-control" (change)="onddlDelaerChage($event.target.value)" [(ngModel)]="dealerId">
                                <option  value="0">Select Dealer</option>
                               <option  *ngFor="let DealerInfo of dealerList"   [value]="DealerInfo.Value" >{{DealerInfo.Text}}</option>
                             </select>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="form-group col-xs-6 col-sm-6">
                            <select class="form-control" (change)="onddlstatusChage($event.target.value)" [(ngModel)]="statusId">
                                <option  value="0">Select Status</option>
                                <option  *ngFor="let TxnType of txnTypeList"   [value]="TxnType.Value" >{{TxnType.Text}}</option>
                            </select>
                        </div>
                        <div class="form-group col-xs-6 col-sm-6">
                            <select class="form-control" (change)="onddlConfirmstatusChage($event.target.value)">
                         <option [value]="">Select Confirmation</option>
                         <option [value]="1">Confirmed</option>
                          <option [value]="0">Non Confirmed</option>
                        </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-6 col-sm-6">
                            <div class="input-group date  col-sm-12">
                                <input class="form-control" [(ngModel)]="fromDate" style="background-color: white; height: 36px;" type="text" id="dtFromDt" name="dtFromDt" ng2-datetime-picker date-format="DD-MM-YYYY HH:MM A" readonly close-on-select="true" [show-close-layer]="true"
                                    year="2014" month="12" day="31" hour="23" minute='59'>
                                <label class="input-group-addon btn" for="dtFromDt" style="padding: 1px 0px;font-size: 19px; height: 36px;">
                                    <span class="fa fa-calendar" style="padding-top: 7px; "></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-xs-6 col-sm-6">
                            <div class="input-group date  col-sm-12">
                                <input class="form-control" [(ngModel)]="toDate" style="background-color: white; height: 36px;" type="text" id="dtToDt" name="dtToDt" ng2-datetime-picker date-format="DD-MM-YYYY HH:MM A" readonly close-on-select="true" (ngModelChange)="getListAccToDate(fromDate,toDate)"
                                    [show-close-layer]="true" year="2014" month="12" day="31" hour="23" minute='59'>
                                <label class="input-group-addon btn" for="dtToDt" style="padding: 1px 0px;font-size: 19px; height: 36px;">
                                    <span class="fa fa-calendar" style="padding-top: 7px;"></span>
                                </label>

                                <!--<input [ngModel]="cinfirmTime" (focus)="toggleTimePicker(true)" readonly />
                    <time-picker *ngIf="showTimePicker" [initTime]="time" (onTimePickerCancel)="toggleTimePicker($event)" (onSelectTime)="setTime($event)"></time-picker>-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row top10">
                    <div class="col-sm-12">
                        <div class=" table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr class="bg-info">

                                        <th>Booking No</th>
                                        <th>C & F Agent</th>
                                        <th>Dealer</th>
                                        <th *ngIf="!isVisible">
                                            Date
                                        </th>
                                        <th>Qty</th>
                                        <th>Rate</th>
                                        <th *ngIf="isDirector || isCF">
                                            Delivery Days
                                        </th>
                                        <th *ngIf="isVisible">
                                            Time Of Request
                                        </th>
                                        <th *ngIf="!isVisible">Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let bookingTO of tempbookingToLst">
                                        <td># {{bookingTO.IdBooking}}</td>
                                        <td>{{bookingTO.CnfName}}</td>
                                        <td>{{bookingTO.DealerName}}</td>
                                        <td *ngIf="!isVisible">{{bookingTO.CreatedOnStr}}</td>
                                        <td>
                                            <p *ngIf="!isVisible || isCF">{{bookingTO.BookingQty}}</p>
                                            <p *ngIf="isDirector">
                                                <input class="form-control" placeholder="{{bookingTO.BookingQty}}" [style.background-color]="getQtyStyle(bookingTO.AuthReasons)" [style.color]="qtycolorstyle(bookingTO.AuthReasons)" [(ngModel)]="bookingTO.BookingQty" name="BookingQty" autocomplete="off">
                                            </p>

                                        </td>
                                        <td>
                                            <p *ngIf="!isVisible || isCF">{{bookingTO.BookingRate | currency:'INR':true:'1.0-0'}}</p>
                                            <p *ngIf="isDirector">
                                                <input class="form-control" placeholder="{{bookingTO.BookingRate }}" [style.background-color]="getRateStyle(bookingTO.AuthReasons)" [style.color]="ratecolorstyle(bookingTO.AuthReasons)" [(ngModel)]="bookingTO.BookingRate" name="BookingRate" autocomplete="off">
                                            </p>

                                        </td>
                                        <td *ngIf="isVisible">
                                            <p *ngIf="isDirector">
                                                <input class="form-control" placeholder="{{bookingTO.DeliveryDays}}" [style.background-color]="getDaysStyle(bookingTO.AuthReasons)"  [style.color]="dayscolorstyle(bookingTO.AuthReasons,days)" [(ngModel)]="bookingTO.DeliveryDays" name="DeliveryDays">
                                            </p>
                                            <p *ngIf="isCF">
                                                {{bookingTO.DeliveryDays}}
                                            </p>
                                        </td>
                                        <td *ngIf="isVisible">{{bookingTO.CreatedOnStr}}</td>
                                        <!--<td>{{bookingTO.IsConfirmed}}</td>-->
                                        <td>
                                            <p *ngIf="!isVisible">{{bookingTO.Status}}</p>
                                            <p *ngIf="isVisible" style="width: 47px;">
                                                <!--<button type="button" class="btn btn-sm btn-primary" (click)="onBookingContextMenu($event,bookingTO) ">
                                                   Action</button>
                                                <context-menu></context-menu>-->
                                                <i class="fa fa-thumbs-o-up btn-custom-icon" style="width:20px; height:20px;margin-right: 3px;" (click)="showConfirmDialog(bookingTO,false)"></i>
                                                <i class="fa fa-thumbs-o-down btn-custom-icon" style="width:20px; height:20px" (click)="showConfirmDialog(bookingTO,true)"></i>
                                            </p>

                                            <!--<label class="checkbox-inline"><input type="checkbox" [checked]="checkboxValue" (change)="showConfirmDialog(bookingTO)"> I accept</label>-->
                                            <!--</p> -->

                                        </td>
                                        <td *ngIf="!isVisible">
                                            <button class="btn btn-default" (click)="onContextMenu($event,bookingTO)"> Action</button>
                                            <context-menu></context-menu>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <app-error-message></app-error-message>
                        <app-confirm></app-confirm>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<view-ParticularBooking *ngIf="isView"></view-ParticularBooking>
<div class="row" *ngIf="isView">
    <div class="col-lg-12 top10">
        <div style="align-items: center">
            <button type="button " class="btn btn-primary" (click)="redirectViewBooking()">Back
              </button>
        </div>
    </div>
</div>